# Created by Vercel CLI
VERCEL="1"
VERCEL_ENV="development"
VERCEL_URL="http://localhost:3000"

# Shopify
NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN=unified-demo-builderio.myshopify.com
NEXT_PUBLIC_SHOPIFY_STOREFRONT_API_TOKEN=REPLACE_ME

# Swell
NEXT_PUBLIC_SWELL_STORE_ID=builder-store
NEXT_PUBLIC_SWELL_PUBLIC_KEY=REPLACE_ME

# Algolia
NEXT_PUBLIC_ALGOLIA_APP_ID=Q072QNXOR4
NEXT_PUBLIC_ALGOLIA_API_KEY=REPLACE_ME

# Builder.io
NEXT_PUBLIC_BUILDER_API_KEY=REPLACE_ME
